.formWrap {
  width: 100%;
  //   padding: 20px 20px 15px 20px;
  .lblFldWrap {
    margin-bottom: 5px;
    .lbl {
      margin-bottom: 5px;
      display: block;
      font-size: 16px;

      .astrick {
        padding-left: 4px;
        color: red;
      }
    }
    input {
      border: 1px solid #bbb;
      border-radius: 5px;
      margin-bottom: 10px;
      height: 45px;
      width: 100%;
      outline: 0;
      padding-left: 15px;
    }

    .errorLabel {
      color: red;
    }
  }
}

.btnWrap {
  display: flex;
  align-items: center;
  column-gap: 15px;
  justify-content: center;
  padding: 20px 20px 15px 20px;
}
